<?xml version="1.0"?>
<!-- this file is app.config -->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<connectionStrings>
		<add name="WCComposite" providerName="System.Data.SqlClient" connectionString="Data Source=ia-rds-prd-rr.awsad.allspringglobal.com;Initial Catalog=PUB_WFAM_INV_COMPOSITE;Integrated Security=SSPI;Pooling=true;Persist Security Info=False;Connect Timeout=3"/>
	</connectionStrings>
	<appSettings>
		<add key="FromLocation" value="\\ia-dr.awsad.allspringglobal.com\prod_share\wcc\inbound"></add>
		<add key="FailedLocation" value="\\ia-dr.awsad.allspringglobal.com\prod_share\wcc\inbound\Failed"></add>
		<add key="ArchiveLocation" value="\\ia-dr.awsad.allspringglobal.com\prod_share\wcc\inbound\Archive"></add>
		<add key="ExceptionReportPath" value="\\ia-dr.awsad.allspringglobal.com\prod_share\wcc\log\ExceptionReport"></add>
		<add key="ExceptionReportPathUNC" value="\\ia-dr.awsad.allspringglobal.com\prod_share\wcc\log\ExceptionReport"></add>
		<!-- File-->
		<add key="SetDataPath" value="\\ia-dr.awsad.allspringglobal.com\prod_share\wcc\inbound"></add>
		<add key="SetArchivePath" value="\\ia-dr.awsad.allspringglobal.com\prod_share\wcc\log\Archive"></add>
		<add key="Filename" value="AccountMaster"></add>
		<!-- Email -->
		<add key="EmailHostname" value="smtp.corp.allspringglobal.com"/>
		<add key="EmailPort" value="25"/>
		<add key="ExceptionReportEmailRecipient" value="ETIASupport@allspringglobal.com,etinvestmentanalyticsteam@allspringglobal.com"/>
		<add key="ExceptionReportEmailSender" value="IA_WCC@allspringglobal.com"/>
		<add key="ExceptionReportEmailSubject" value="Wilshire Account Master Import Exception Report (DR)"/>
		<add key="ExceptionReportEmailBody" value="Wilshire Account Master Import Exception Report: "/>
		<add key="Environment" value="PROD"></add>
		<!--DEV, UAT, or PROD-->
		<!--Splunk-->
		<add key="loggingAppId" value="WCCDM"/>
		<add key="loggingApplicationName" value="AccountMaster"/>
		<add key="log4NetConfig" value="WilshireAccountMasterImport.exe.config"/>
		<add key="applicationLoggerName" value="Application"/>
		<add key="exceptionLoggerName" value="Exception"/>
		<add key="legacyLoggerName" value="Legacy"/>
		<add key="SMTPServer" value="smtp.corp.allspringglobal.com"/>
		<add key="ErrorNotify" value="ETIASupport@allspringglobal.com,etinvestmentanalyticsteam@allspringglobal.com"/>
		<add key="FromEmailAdress" value="IA_WCC@allspringglobal.com"/>
		<add key="LegacyFileFolder" value=""/>
	</appSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<variable name="loggingAppId" value="WCCDM"/>
		<variable name="loggingApplicationName" value="AccountMaster"/>
		<variable name="legacyLoggingLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} [${gdc:item=callingClassType}] [${threadid}] ${level:uppercase=true:padding=-5} ${message} ${exception:format=ToString}"/>
		<targets>
			<!-- Legacy Appender Target Local -->
			<target name="LegacyAppender" xsi:type="File" fileName="D:\apps\wcc\log\AccountMaster_${date:format=yyyyMMdd:cached=true}.log" layout="${legacyLoggingLayout}" archiveFilename="D:\apps\wcc\log\AccountMaster_${date:format=yyyyMMdd:cached=true}.log.{#}" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="YYYYMMdd" maxArchiveFiles="5" />
			<!-- Legacy Appender Target FSx -->
			<target name="LegacyAppenderFSx" xsi:type="File" fileName="\\ia-dr.awsad.allspringglobal.com\prod_share\wcc\log\AccountMaster_${date:format=yyyyMMdd:cached=true}.log" layout="${legacyLoggingLayout}" archiveFilename="\\ia-dr.awsad.allspringglobal.com\prod_share\wcc\log\AccountMaster_${date:format=yyyyMMdd:cached=true}.log.{#}" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="YYYYMMdd" maxArchiveFiles="5" />
			<!-- Console Appender -->
			<target name="ConsoleAppender" xsi:type="Console" layout="${legacyLoggingLayout}" />
		</targets>
		<rules>
			<logger name="Legacy" writeTo="ConsoleAppender" />
			<logger name="Application" writeTo="LegacyAppender" />
			<logger name="Application" writeTo="LegacyAppenderFSx" />
		</rules>
	</nlog>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
