<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="Allspring" value="https://artifactory.aws.allspringglobal.local/artifactory/api/nuget/v3/nuget-local" />
		<add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<activePackageSource>
		<clear />
		<add key="Artifactory" value="https://artifactory.###  URL ###om/artifactory/api/nuget/wccdm_nuget_deploy_virtual" />
	</activePackageSource>
  <disabledPackageSources>
	<clear />
  </disabledPackageSources>
</configuration>