<?xml version="1.0"?>
<!-- this file is dev.app.config -->
<configuration>
  <configSections>
	  <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <connectionStrings>
    <add name="WCComposite" providerName="System.Data.SqlClient" connectionString="__WCComposite__"/>
  </connectionStrings>
  <appSettings>
    <add key="FromLocation" value=### ALPHA: FILE PATH ###></add>
    <add key="FailedLocation" value=### ALPHA: FILE PATH ###></add>
    <add key="ArchiveLocation" value=### ALPHA: FILE PATH ###></add>
    <add key="ExceptionReportPath" value=### ALPHA: FILE PATH ###></add>
    <add key="ExceptionReportPathUNC" value="__ExceptionReportPathUNC__"></add>
    <!-- Email -->
    <add key="EmailHostname" value="### cmail server ###"/>
    <add key="EmailPort" value="25"/>
    <add key="ExceptionReportEmailRecipient" value="__ExceptionReportEmailRecipient__"/>
    <add key="ExceptionReportEmailSender" value="__ExceptionReportEmailSender__"/>
    <add key="ExceptionReportEmailSubject" value="__ExceptionReportEmailSubject__"/>
    <add key="ExceptionReportEmailBody" value="Wilshire Account Master Import Exception Report: "/>
    <add key="Environment" value="__Environment__"></add>
    <!--DEV, UAT, or PROD-->
    <!--Splunk-->
    <add key="loggingAppId" value="WCCDM" />
    <add key="loggingApplicationName" value="AccountMaster" />
    <add key="applicationLoggerName" value="Application" />
    <add key="exceptionLoggerName" value="Exception" />
    <add key="legacyLoggerName" value="Legacy" />
    <add key="SMTPServer" value="cpohwl.###  URL ###om"/>
    <add key="ErrorNotify" value="__ErrorNotify__"/>
    <add key="FromEmailAdress" value="__FromEmailAdress__"/>
    <add key="LegacyFileFolder" value=### ALPHA: FILE PATH ###/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<variable name="loggingAppId" value="WCCDM"/>
		<variable name="loggingApplicationName" value="AccountMaster"/>
		<variable name="legacyLoggingLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} [${gdc:item=callingClassType}] [${threadid}] ${level:uppercase=true:padding=-5} ${message} ${exception:format=ToString}"/>

		<targets>
			<!-- Legacy Appender Target -->
			<target name="LegacyAppender"
					xsi:type="File"
					fileName=### ALPHA: FILE PATH ###
					maxArchiveFiles="5"
					archiveEvery="Day"
					layout="${legacyLoggingLayout}"  />

			<!-- Console Appender -->
			<target name="ConsoleAppender"
				xsi:type="Console"
				layout="${legacyLoggingLayout}" />


			<target name="ApplicationAppender"
				xsi:type="File"
				fileName=### ALPHA: FILE PATH ###
				layout="${message}"
				archiveFilename=### ALPHA: FILE PATH ###
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles="5" />

			<target name="ExceptionAppender"
				xsi:type="File"
				fileName=### ALPHA: FILE PATH ###
				layout="${message}"
				archiveFilename=### ALPHA: FILE PATH ###
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles="5" />
		</targets>
		<rules>
			<logger name="Legacy" writeTo="ConsoleAppender" />
			<logger name="Legacy" writeTo="LegacyAppender" />
			<logger name="Application"  writeTo="ApplicationAppender" />
			<logger name="Exception" writeTo="ExceptionAppender" />
		</rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
